<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>Banglore Home Price Prediction</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="app.js"></script> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
	<!-- <link rel="stylesheet" href="C:\Veenayagam Things\ML-things\Flask\combine\Mine\server\static\styles\app.css"> -->
</head>

<body>
	<div class="img"></div>
	<form class="form" action="/" method="POST">
		<h2>Area (Square Feet)</h2>
		<input class="area" type="text"class="floatLabel" name="uiSqft" value="1000" required>
		<h2>BHK</h2>
		<div>
			<select class="location" name="radio_bhk" id="radio_bhk" required>
				<option value="" disabled="disabled" selected="selected">Choose BHK</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">5</option>
				<option value="5">5</option>
			</select>
		</div>
	
		<h2>Bath</h2>
		<div>
			<select class="location" name="radio_bath" id="radio_bath" required>
				<option value="" disabled="disabled" selected="selected">Choose BHK</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">5</option>
				<option value="5">5</option>
			</select>
		</div>
		<h2>Location</h2>
		<div>
			<select class="location" name="responses" id="responses" required>
				<option value="" disabled="disabled" selected="selected">Choose a Location</option>
				{% for place in responses %}
				<option value="{{place}}">{{place}}</option>
				{% endfor %}
			</select>
		</div>
		<button class="submit" type="submit" value="Post">Estimate Price</button>
		<div id="uiEstimatedPrice" class="result">	<h2>{{post}}</h2> </div>
		</div>
	</form>
</body>

</html>